.newCard{
background-color: #C5C5C5;
padding:  24px 127px;
margin-bottom: 40px;
}
.newCard-content
{
  display: block;
  width: 560px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 1px solid #fff;
  transition: height 0.2s linear,
              border 0.4s linear;
}
.newCard-content:focus
{
  height: 150px;
  border: 1px solid #555
}
.newCard-action{
    display: block;
    font-size: 16px;
    width: 84px;
    height: 34px;
    background-color: #8272C7;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    cursor: pointer;
}
