.card
{
  display: inline-block;
  box-sizing: border-box;
  padding: 16px;
  width: 25%;
  position: relative;
}
.card_colorFirst
{
  background-color: #45AAEE;  /*Azul*/
}
.card_colorSecond
{
  background-color: #FF1010;  /*Vermelho*/
}
.card_colorThird
{
  background-color: #76EF40;  /*Verde*/
}
.card_colorFourth
{
  background-color: #EBEf40;  /*Amarelo*/
}
.wrap-card-colors
{
  position: absolute;
  top: -16px;
  left: 0px;
}
.card-colors
{
  display: inline-block;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.5);
}
.card-colors_colorFirst
{
  background-color: #45AAEE; /*Azul*/
}
.card-colors_colorSecond
{
  background-color: #FF1010; /*Vermelho*/
}
.card-colors_colorThird
{
  background-color: #76EF40;  /*Verde*/
}
.card-colors_colorFourth
{
  background-color: #EBEf40; /*Amarelo*/
}
